<div class="modal-overlay" id="deleteClassroomModal">
    <div class="modal">
        <div class="modal-header">
            <h3>Konfirmasi Hapus Kelas</h3>
            <button class="modal-close" onclick="closeModal('deleteClassroomModal')">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <form id="deleteClassroomForm" method="post">
            {% csrf_token %}
            <p>Yakin ingin menghapus kelas ini?</p>
            <div class="btn-group" style="justify-content: flex-end;">
                <button type="button"
                        class="btn btn-access"
                        onclick="closeModal('deleteClassroomModal')">Batal</button>
                <button type="submit" class="btn btn-word">Hapus</button>
            </div>
        </form>
    </div>
</div>
