{% extends "core/base.html" %}
{% load static %}
{% block title %}Penilaian Formatif - {{ block.super }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}
{% block heading %}{% endblock %}
{% block content %}
    {% if subjects %}
        {% include "core/formatif/hero.html" %}
        {% include "core/formatif/control.html" %}
        {% if students %}
            {% include "core/formatif/table.html" %}
        {% elif selected_subject %}
            <p class="text-center">Tidak ada siswa di kelas ini.</p>
        {% endif %}
    {% else %}
        {% include "core/formatif/fallback.html" %}
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/formatif.js' %}"></script>
{% endblock %}
