<div class="grid-cards">
    <div class="card-stat c-word glass-panel">
        <div class="stat-info">
            <h4>Total Artikel</h4>
            <h2>{{ total_articles }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-file-lines"></i>
        </div>
    </div>
    <div class="card-stat c-excel glass-panel">
        <div class="stat-info">
            <h4>Dipublikasikan</h4>
            <h2>{{ published_articles }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-circle-check"></i>
        </div>
    </div>
    <div class="card-stat c-ppt glass-panel">
        <div class="stat-info">
            <h4>Draft</h4>
            <h2>{{ draft_articles }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
    </div>
</div>
