<div class="grid-cards">
    <div class="card-stat c-word glass-panel">
        <div class="stat-info">
            <h4>Total Siswa</h4>
            <h2>{{ total_students }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-user-graduate"></i>
        </div>
    </div>
    <div class="card-stat c-excel glass-panel">
        <div class="stat-info">
            <h4>Aktif</h4>
            <h2>{{ total_aktif }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-check"></i>
        </div>
    </div>
    <div class="card-stat c-ppt glass-panel">
        <div class="stat-info">
            <h4>Lulus</h4>
            <h2>{{ total_lulus }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-graduation-cap"></i>
        </div>
    </div>
    <div class="card-stat c-access glass-panel">
        <div class="stat-info">
            <h4>Keluar</h4>
            <h2>{{ total_keluar }}</h2>
        </div>
        <div class="stat-icon">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </div>
</div>
