<div class="modal-overlay" id="resetPasswordModal">
    <div class="modal">
        <div class="modal-header">
            <h3>Reset Password</h3>
            <button type="button"
                    class="modal-close"
                    onclick="closeModal('resetPasswordModal')">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="modal-body">
            <p>Yakin ingin mereset password siswa ini ke default <strong>"siswaoke123"</strong>?</p>
            <form id="resetPasswordForm" method="post">
                {% csrf_token %}
                <div class="btn-group" style="justify-content: flex-end;">
                    <button type="button"
                            class="btn btn-access"
                            onclick="closeModal('resetPasswordModal')">Batal</button>
                    <button type="submit" class="btn btn-ppt">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
